body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #EEEEE9 !important;
}

a { 
  font-family: 'Roboto', sans-serif !important;
}

a:hover { color: #ff9933; }

header.navigation {
  background-color: #313540 !important;
  border-bottom: 5px solid #FF9933;
}

.subtitle {
  background-image: url('http://i.imgur.com/eZjuz5j.jpg');
  height: 15em;
  background-size: cover;
  background-position: center top;
  margin-bottom: -100px !important; 
  position: relative;
  display: table;
  width: 100%;
}

.hero { 
  background-color:rgba(0,0,0,0.5);
  background-size: cover;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center !important;
  height: inherit;
  /* border-top: 1px solid #ff9933; */
  display: table-cell;
  vertical-align: middle;
}


@media only screen and (max-device-width: 480px) {
  .header-logo img {
    max-width: 50%;
  }
  
  .container {
    margin-top: 0 !important;
  }

}
