body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #EEEEE9 !important;
}

a { 
  font-family: 'Roboto', sans-serif !important;
}

a:hover { color: #ff9933; }

header.navigation {
  background-color: #313540 !important;
  border-bottom: 5px solid #FF9933;
}

.subtitle {
  background-image: url('http://i.imgur.com/eZjuz5j.jpg');
  background-color:rgba(0,0,0,0.5);
  height: 15em;
  background-size: cover;
  background-position: center top;
  margin-bottom: -100px !important;
}

.hero { 
  background-size: cover;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center !important;
  height: 15em;
  width: 100%;
  vertical-align: center;
}
